<%- include('includes/head') %> <%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      <div class="display-1 text-center">
        Login
        <p class="text-center lead">Faça Login ou crie sua conta abaixo:</p>

        <%- include('includes/messages')%>

        <div class="row">
          <div class="col-lg">
            <h4>Faça seu cadastro</h4>
            <form action="/login/register" method="post">
              <input type="hidden" name="_csrf" value=<%=csrfToken %>>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                />
                <div id="emailHelp" class="form-text">
                  Não compartilharemos seus dados.
                </div>
              </div>
              <div class="mb-3">
                <label
                  for="exampleInputPassword1"
                  name="senha"
                  class="form-label"
                  >Senha</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                />
              </div>
              <div class="mb-3 form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="exampleCheck1"
                />
                <label class="form-check-label" for="exampleCheck1"
                  >Aceito os termos de uso.</label
                >
              </div>
              <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
          </div>
          <div class="col-lg">
            <h4>Faça seu Login</h4>

            <form action="/login/login" method="POST">
              <input type="hidden" name="_csrf" value=<%=csrfToken %>>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Email
                </label>
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                  >Senha</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                />
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>
